<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsDgouwn508WWLM_gQQ5lL3QmgRf_Zw7A</string>
	<key>GCM_SENDER_ID</key>
	<string>904565808905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crf</string>
	<key>PROJECT_ID</key>
	<string>copenhagen-restaurant-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>copenhagen-restaurant-finder.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904565808905:ios:66165332f3920bb41bbdd8</string>
</dict>
</plist>